.onoffswitch {
    position: relative; width: 110px;
    display: inline-block;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid transparent; border-radius: .2rem;
}

.onoffswitch-inner, .onoffswitch-inner1, .onoffswitch-inner2 {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after,
.onoffswitch-inner1:before, .onoffswitch-inner1:after,
.onoffswitch-inner2:before, .onoffswitch-inner2:after{
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Байт";
    padding-left: 10px;
    background-color: #0275D8; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Байт";
    padding-right: 10px;
    background-color: #d9534f; color: #FFFFFF;
    text-align: right;

}
.onoffswitch-inner1:before {
    content: "Слово";
    padding-left: 10px;
    background-color: #0275D8; color: #FFFFFF;
}
.onoffswitch-inner1:after {
    content: "Слово";
    padding-right: 10px;
    background-color: #d9534f; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-inner2:before {
    content: "Подвійне слово";
    padding-left: 10px;
    background-color: #0275D8; color: #FFFFFF;
}
.onoffswitch-inner2:after {
    content: "Подвійне слово";
    padding-right: 10px;
    background-color: #d9534f; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 13px; margin: 8.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 76px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner,
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner1,
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner2{
    margin-left: 0;
}


.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}